body {
  background-color: slategray;
  font-size: 3em;
}

#main {
  margin: 0 auto;
  text-align: center;
}

.rainbow-0 {
  color: red;
}

.rainbow-1 {
  color: orange;
}

.rainbow-2 {
  color: yellow;
}

.rainbow-3 {
  color: green;
}

.rainbow-4 {
  color: blue;
}

.rainbow-5 {
  color: violet;
  text-decoration: none;
}