* {
  box-sizing: border-box;
}
header {

}
header h1 {
  text-align: center;
}
nav {
  
}
nav ul {
  list-style: none;
}
nav li {
  background: lightgrey;
  float: left;
  width: 25%;
}
main {
  width: 960px;
  margin: 0 auto;
}
